# Default values for fastapi.
deployment:
  image: 203271543287.dkr.ecr.eu-west-3.amazonaws.com/fastapi-traefik-app
  imagePullPolicy: Always
  tag: latest
  replicaCount: 2
  port: 8000
  dbName: fastapi
  dbEndPoint: db
  
service:
  type: ClusterIP
  port: 8000
  targetPort: 8000

hpa:
  min: 2
  max: 4
  percent: 80

